.row {
    display: flex;
    justify-content: space-around;

}

.card {
    box-shadow: 5px 10px 18px
}
.estilezaSelect,.estilizaSelect2  {
-webkit-appearance: none; 
-moz-appearance: none; 
appearance: none; 
background-image: none;
padding-right: 20px;
background-color: white;
border: 1px solid #ccc;
border-radius: 5px;
}



.btnverde{
background-color: #00a550 !important;
color: white !important;
font-weight:bold  !important;
}

.ocultar{
	display: none !important;
}


body {
    background-color: #DCDCDC;
    font-family: Arial, sans-serif;
}

#qntPessoasPorPDV {
    position: sticky; 
    top: 0; 

    z-index: 99;
}

.container {
    padding: 20px; 
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #00a550;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}



.informacoesEsquerda1Card {
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10%;

  
}

.informacoesEsquerda1Card p {
    font-weight: bold;
}
.informacoesEsquerda1Card label{
    font-weight: bold;
  
}
.fa-trash {
    cursor: pointer;
    color:red !important;
}
.nome2,.NomeFunc{
    width:135px !important
}
