.row {
    display: flex;
    justify-content: space-around;

}

.card {
    box-shadow: 5px 10px 18px
}
.estilezaSelect,.estilizaSelect2  {
-webkit-appearance: none; /* Para navegadores baseados em WebKit, como Chrome e Safari */
-moz-appearance: none; /* Para navegadores baseados em Gecko, como Firefox */
appearance: none; /* Para navegadores modernos */
background-image: none; /* Remove qualquer imagem de fundo */
padding-right: 20px; /* Adiciona um espaço para um ícone personalizado, se desejar */
background-color: white; /* Defina a cor de fundo desejada */
border: 1px solid #ccc; /* Adicione uma borda para indicar a área clicável */
border-radius: 5px; /* Adicione um raio de borda para suavizar a aparência */
}



.btnverde{
background-color: #00a550;
color: white;
font-weight:bold ;
}

.ocultar{
	display: none !important;
}


body {
    background-color: #DCDCDC;
    font-family: Arial, sans-serif;
}

#qntPessoasPorPDV {
    position: sticky; 
    top: 0; 
    width: 100%;
    z-index: 99;
}

.container {
    padding: 20px; 
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #00a550;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
}
